# log - temp - hidden - personal - video - photo
*.log
upload/*
lib/*
file.*
!file.pdf
# **/zip-files/*
# lib/**/*.zip
# lib/**/*.rar
# blog/**/*.zip
# blog/**/*.rar
*.zip
*.rar
name[1sae].txt
.env**
!.env.example
node_modules
!.gitkeep